
.DS_Store
*.idea/*

logos/.idea/workspace.xml

logos/.idea/vcs.xml

logos/.idea/scopes/scope_settings.xml

logos/.idea/modules.xml

logos/.idea/misc.xml

logos/.idea/logos.iml

logos/.idea/encodings.xml

logos/.idea/.name
