/*  
Theme Name: Wiseman Child Theme
Theme URI: http://support.8bit.io/entries/379992-customization-mosaic-standard-theme-2-0
Version: Preview 3
Description: This is a child theme for Standard Theme 3
Author: Jason Bradley
Author URI: http://everchangingmedia.com
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Template: standard
*/
/* ------------------------------------------------------------------------ Import Standard Styles */
@import url( '../../standard/style.css' );
/* ------------------------------------------------------------------------ Customizations */
/* Body */
body {
  background: #ffffff url(images/background.jpg) repeat left top;
  font: 14px Georgia, Times, Serif;
  line-height: 1.5;
  color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
  font-family: Arial, Helvetica, Sans-serif;
}
a {
  color: #ffffff;
}
a:hover {
  color: #ffffff;
}
/* Header */
#site-title a {
  color: #ffffff;
  text-decoration: none;
}
#site-title a:hover {
  text-decoration: none;
  color: #eeeeee;
}
#site-description {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: 0 0 20px #000000;
  line-height: 0;
  margin-top: 20px;
  text-decoration: none;
}
/* Navigation */
.navbar .nav > li > a {
  color: #ffffff;
}
.navbar .nav > li > a:hover {
  background: none;
  color: #eeeeee;
  text-decoration: none;
}
.navbar .dropdown-menu a {
  color: #999999;
}
.navbar .dropdown-menu a:hover {
  color: #333333;
}
.navbar .nav .active > a,
.navbar .nav .active > a:hover {
  color: #eeeeee;
  text-decoration: none;
  background-color: none;
  background: none;
}
.navbar-inner,
.navbar .fill {
  background-color: #02619c;
  background-image: none;
  filter: none;
}
/* Post */
.post-title,
.post-title a,
.post-title a:visited {
  color: #ffffff;
  text-decoration: none;
}
.post-title:hover,
.post-title a:hover,
.post-title a:visited:hover {
  color: #ffffff;
}
.post-meta {
  color: #000000;
  border-top: none;
}
.post,
#comments,
#pings,
#no-comments,
#respond {
  background-color: #02619c;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: solid 1px #f0f0f0;
}
.post-header-meta {
  color: #000000;
  border-bottom: none;
}
.the-time {
  color: #000000;
}
.post.format-quote .post-header {
  background-color: #999999;
  background-image: url(images/bg-quote.png);
}
.breadcrumb {
  background: none;
  border: none;
}
blockquote {
  background: #f0f0f0;
  padding: 20px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
#commentform code {
  color: #000000;
}
.pager a,
.previous-page a,
.next-page a {
  color: #ffffff;
  background: #02619c;
}
.pager a:hover,
.previous-page a:hover,
.next-page a:hover {
  color: #000000;
  background: #ffffff;
}
/* Widgets */
.widget ul li {
  border-bottom: solid 1px #f0f0f0;
}
.widget ul li a {
  color: #ffffff;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}
.widget ul li a:hover {
  color: #ffffff;
}
.widget h4.widget-title {
  color: #ffffff;
}
/* Influence Widget */
.thumbnails li {
  border-bottom: none !important;
}
.si-individual li {
  border-bottom: none !important;
}
/* Activity Widget */
.tabbed-widget .nav-tabs > li {
  border-bottom: none !important;
}
.tabbed-widget .nav-tabs > li > a {
  background-color: #999999 !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#333333)) !important;
  background-image: -webkit-linear-gradient(top, #999999, #333333) !important;
  background-image: -moz-linear-gradient(top, #999999, #333333) !important;
  background-image: -o-linear-gradient(top, #999999, #333333) !important;
  background-image: -ms-linear-gradient(top, #999999, #333333) !important;
  background-image: linear-gradient(top, #999999, #333333) !important;
  filter: progid:dximagetransform.microsoft.gradient(GradientType=0, StartColorStr='@from-color', EndColorStr='@to-color') !important;
  color: #eeeeee !important;
}
.tabbed-widget .nav-tabs > li > a:hover {
  color: #ffffff !important;
}
.tabbed-widget .nav-tabs > li.active > a {
  background-color: #ffffff !important;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff)) !important;
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff) !important;
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff) !important;
  background-image: -o-linear-gradient(top, #ffffff, #ffffff) !important;
  background-image: -ms-linear-gradient(top, #ffffff, #ffffff) !important;
  background-image: linear-gradient(top, #ffffff, #ffffff) !important;
  filter: progid:dximagetransform.microsoft.gradient(GradientType=0, StartColorStr='@from-color', EndColorStr='@to-color') !important;
  color: #000000 !important;
}
.tabbed-widget .tab-content ul li a {
  color: #333333 !important;
}
.tabbed-widget .tab-content ul li a:hover {
  color: #000000 !important;
  text-decoration: none !important;
}
.tabbed-widget .post-tags a {
  color: #000000 !important;
}
/* Footer */
#footer {
  background: transparent;
}
#footer .widget h4.widget-title {
  color: #ffffff;
}
#footer .widget ul li {
  border-bottom: none;
}
#footer .widget ul li a {
  color: #ffffff;
}
#footer .textwidget {
  color: #ffffff;
}
/* Sub-floor */
#sub-floor {
  background: transparent;
}
#sub-floor #credit {
  color: #ffffff;
  text-transform: uppercase;
}
#sub-floor #credit a {
  color: #ffffff;
  text-transform: uppercase;
}
#sub-floor #credit a:hover {
  color: #ffffff;
}
/* Misc */
input:focus,
textarea:focus {
  border-color: rgba(2, 97, 156, 0.8);
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: inset 0 1px 1px rgba(2, 97, 156, 0.075), 0 0 8px rgba(2, 97, 156, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(2, 97, 156, 0.075), 0 0 8px rgba(2, 97, 156, 0.6);
  box-shadow: inset 0 1px 1px rgba(2, 97, 156, 0.075), 0 0 8px rgba(2, 97, 156, 0.6);
}
/* ------------------------------------------------------------------------ Media Queries */
/* Smartphones */
@media (max-width: 480px) {
  
}
/* Tablet and Mobile */
@media (max-width: 979px) {
  
}
/* Mobile to Tablet */
@media only screen and (max-width: 767px) {
  
}
/* Landscape Tablets */
@media (min-width: 768px) and (max-width: 979px) {
  
}
/* Desktop */
@media (min-width: 980px) {
  
}
